/* Body and Container */
body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

/* Calculator Body and Display */
.calculator {
    background: #222;
    box-shadow: 0 1em 4em black;
    padding: 0 12px 12px;
    border: 1px solid black;
    border-radius: .5em;
    margin: 10px auto;
    width: 350px;
}
.calculator .row {
    margin: 0!important;
}
.display {
    height: 145px;
    background: #DBDBDB;
    margin: 15px 0 2px 0;
    padding: 10px 5px;
    border-radius: 4px;
    text-align: right;
}
.displaySmall {
    height: 40px;
    font-size: 2em;
    letter-spacing: -1px;
    overflow: scroll;
    margin-top: 15px;
}
.displayLarge {
    font-size: 4em;
    letter-spacing: -3px;
    overflow: scroll;
}

/* Calculator Buttons */
button {
    color: #AAA;
    font-size: 1.5em;
    height: 70px;
    background: #3e3e3e;
    border: 1px solid #111;
    border-radius: 3px;
}
button:hover {
    background: #222;
}
button.operator {
    color: #BBB;
    background: #222;
}
button.blue {
    background: #007191;
    color: black;
}

/* Mobile Respnsive */
@media all and (max-width: 768px) {
    .calculator {
        width: 100%;
    }
    button {
        height: 11vh;
    }
}