* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

.calc {
    background: #222;
    box-shadow: 0 1em 4em black;
    width: 270px;
    height: 434px;
    padding: 0 8px 10px;
    border: 1px solid black;
    border-radius: .5em;
    margin: 20px auto;
}

.calcBody {
    padding: 0;
    width: 240px;
    margin: auto;
}

.display {
    width: 240px;
    height: 100px;
    background: white;
    margin: 15px 0 2px 0;
    padding: 10px 5px;
    border-radius: 4px;
    text-align: right;
}

.displaySmall {
    height: 30px;
    font-size: 2em;
}
.displayLarge {
    height: 70px;
    font-size: 3em;
}

button {
    color: #AAA;
    float: left;
    width: 60px;
    font-size: 1.2em;
    height: 60px;
    background: #3e3e3e;
    border: 1px solid shade;
    border-radius: 3px;
}

button:hover {
    background: #222;
}

button.operator {
    color: #BBB;
    background: #222;
}

button.btn-wide {
    height: 60px;
    width: 120px;
}

button.blue {
    background: #007191;
    color: black;
}