* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/* Body and Container */
body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}
.container {
    background: #222;
    box-shadow: 0 1em 4em black;
    width: 385px;
    height: 628px;
    padding: 0 8px 10px;
    border: 1px solid black;
    border-radius: .5em;
    margin: 30px auto;
}

/* Calculator */
.calculator {
    padding: 0;
    width: 360px;
    margin: auto;
}

/* Calculator Display */
.display {
    width: 360px;
    height: 172px;
    background: #DBDBDB;
    margin: 15px 0 2px 0;
    padding: 10px 5px;
    border-radius: 4px;
    text-align: right;
}

.displaySmall {
    height: 55px;
    font-size: 2em;
    letter-spacing: -1px;
    overflow: scroll;
    margin-top: 25px;
}

.displayLarge {
    height: 80px;
    font-size: 4em;
    letter-spacing: -3px;
    overflow: scroll;
}

/* Calculator Buttons */
button {
    color: #AAA;
    float: left;
    width: 90px;
    font-size: 1.5em;
    height: 85px;
    background: #3e3e3e;
    border: 1px solid shade;
    border-radius: 3px;
}

button:hover {
    background: #222;
}

button.operator {
    color: #BBB;
    background: #222;
}

button.btn-wide {
    height: 85px;
    width: 180px;
}

button.blue {
    background: #007191;
    color: black;
}